/*Colour palette*/
$black: #332208;
$brown: #7c3313;
$lightBrown: #c75f38;
$red: #e84a25;
$teal: #01a894;
$yellow: #f5ae18;
$cream: #fdebc5;

/*Colour Vars*/
$text: $black;
$accent: $brown;
$menu: $lightBrown;
$headings: $red;
$titles: $teal;
$links: $yellow;
$forms: $cream;
$buttons: $teal;
$buttons-border: darken($buttons, 10%);
$buttons-hover: lighten($buttons, 50%);


/*Gradient for background images.*/
$primary: linear-gradient(0deg, rgba(1, 168, 148, 1) 0%, rgba(245, 174, 24, 1) 12%, rgba(232, 74, 37, 1) 57%, rgba(124, 51, 19, 1) 100%);
$brand-primary: linear-gradient(0deg, rgba(1, 168, 148, 1) 0%, rgba(245, 174, 24, 1) 12%, rgba(232, 74, 37, 1) 57%, rgba(124, 51, 19, 1) 100%);

