/*Colour palette*/

:root{
    /*Black - (text)*/
    --black: #332208 ;

    /*Brown - (shadow)*/
    --brown: #7c3313;

    /*Light Brown - (menu)*/
    --lightBrown: #c75f38;

    /*Red - (headings)*/
    --red: #e84a25;

    /*Teal -  (titles)*/
    --teal: #01a894;

    /*Yellow -  (links)*/
    --yellow: #f5ae18;

    /*Cream - (forms)*/
    --cream: #fdebc5;
}


